<!DOCTYPE html>
<html lang="en-US" dir = "ltr">
    <head>
        <meta charset="UTF-8">
        <title>Spring :: Register</title>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../lib/jQuery/jquery-3.4.1.js"></script>
    </head>
    <body>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="password" name="" placeholder="Password Again">

        <input type="checkbox" name="" value="Male">
        <input type="checkbox" name="" value="Female">

        <input type="date" name="">
        <input type="tel" name="">

        <input type="email" name="" placeholder="your email">
        <input type="button" name="" value="Send">
        <!-- slide up the pop-up of send correctly and check -->

        <input type="text" name="" placeholder="Auth. Number">
        <input type="button" name="" value="Check">

        <input type="submit" name="" value="Submit">

    </body>
</html>