body {
    background-color: #000;
    color: white;
}

/* TODO : styles for idTabs */

/* remove li::marker */
#main ul {
    list-style-type: none;
}

/* styles for buttons (be round) */
button {
    position: relative;
    right: 2px;
    bottom: 2px;
    border-radius: 8px;
}
